
<div class="container">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">
      {{ atividadesID ? 'Editar Atividade' : 'Cadastrar Atividade' }}
    </h1>
    <form [formGroup]="formAtividades" (ngSubmit)="addAtividades()" class="mb-5">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome da Atividade:</label>
        <input type="text" class="form-control" id="nome" formControlName="nome"
          [ngClass]="{
            'is-invalid': formAtividades.get('nome')?.invalid && formAtividades.get('nome')?.touched,
            'is-valid': formAtividades.get('nome')?.valid && formAtividades.get('nome')?.touched
          }" required />
        <div class="form-text text-danger" *ngIf="formAtividades.get('nome')?.invalid && formAtividades.get('nome')?.touched">
          Nome é obrigatório.
        </div>
      </div>
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição:</label>
        <input type="text" class="form-control" id="descricao" formControlName="descricao"
          [ngClass]="{
            'is-invalid': formAtividades.get('descricao')?.invalid && formAtividades.get('descricao')?.touched,
            'is-valid': formAtividades.get('descricao')?.valid && formAtividades.get('descricao')?.touched
          }" required />
        <div class="form-text text-danger" *ngIf="formAtividades.get('descricao')?.invalid && formAtividades.get('descricao')?.touched">
          Descrição é obrigatória.
        </div>
      </div>
      <div class="mb-3">
        <label for="dataInicio" class="form-label">Data Inicial:</label>
        <input type="date" class="form-control" id="dataInicio" formControlName="dataInicio" required />
      </div>
      <div class="mb-3">
        <label for="dataFim" class="form-label">Data Final:</label>
        <input type="date" class="form-control" id="dataFim" formControlName="dataFim" />
      </div>
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoria:</label>
        <select class="form-select" id="categoria" formControlName="categoria">
          <option *ngFor="let cat of categorias" [ngValue]="cat">{{ cat }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="formAtividades.invalid">Cadastrar</button>
      <button type="reset" class="ms-2 btn btn-danger" (click)="formAtividades.reset()">Limpar</button>
    </form>
  </div>
</div>
