<div class="container">
    <div class="col-md-6 offset-md-3">
        @if( usuarioID){
        <h1 class="text-center">Editar Usuario</h1>
        }@else {
        <h1 class="text-center">Cadastrar Usuarios</h1>
        }
        <form [formGroup]="formUsuario" (ngSubmit)="addUsuarios()" class="mb-5">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Usuário:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" [ngClass]="{
            'is-invalid': formUsuario.get('nome')?.invalid && formUsuario.get('nome')?.touched,
            'is-valid': formUsuario.get('nome')?.valid && formUsuario.get('nome')?.touched
          }" required />
                <div class="text-danger" *ngIf="formUsuario.get('nome')?.invalid && formUsuario.get('nome')?.touched">
                    Nome é obrigatório.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{
            'is-invalid': formUsuario.get('email')?.invalid && formUsuario.get('email')?.touched,
            'is-valid': formUsuario.get('email')?.valid && formUsuario.get('email')?.touched
          }" required email />
                <div class="text-danger" *ngIf="formUsuario.get('email')?.invalid && formUsuario.get('email')?.touched">

                </div>
            </div>
       

            <button type="submit" class="btn btn-primary" [disabled]="formUsuario.invalid">Cadastrar</button>
            <button type="reset" class="ms-2 btn btn-danger" (click)="formUsuario.reset()">Limpar</button>

        </form>
    </div>
</div>